* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.headertop {
  background-color: #122636;
}
.headertop .social_link {
  padding: 10px 0;
  margin-bottom: 0;
}
.headertop .social_link li {
  text-decoration: none;
  display: inline-block;
  padding: 0 1px;
}
.headertop .social_link li .link {
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  display: block;
  margin-left: 0.5rem;
}
.headertop .social_link li .textwhite {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.headertop .contact {
  justify-content: end;
  padding: 10px 0;
  margin-bottom: 0;
}
.headertop .contact .link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  text-align: center;
  display: block;
  margin-left: 1.5rem;
}
.headertop .contact .link .textwhite {
  font-size: 27px;
  font-weight: 700;
  padding-right: 6px;
}

.headerbottom .logosection {
  padding: 10px 0;
}
.headerbottom .navbar {
  padding: 20px 20px;
}
.headerbottom .navbar li {
  position: relative;
  list-style: outside none none;
}
.headerbottom .navbar .link {
  text-decoration: none;
  color: #727280;
  font-size: 14px;
  /* padding: 12px 16px; */
  text-transform: uppercase;
  z-index: 10;
  font-weight: bold;
}

.headerbottom .nav-last {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 10px;
}
.headerbottom .nav-last .link {
  text-decoration: none;
  background: #ffb900;
  color: #000;
  font-weight: 500;
  padding: 12px 26px;
  display: block;
}

.ecomNavigationMenu .dropdown button {
  color: #727280;
  background-color: #fff !important;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 10;
  font-weight: bold;
  border: 0px;
  padding: 0;
}

.ecomNavigationMenu .dropdown button:hover {
  color: #727280 !important;
}

/* Bannere Section  */
.bannerSection {
  background-image: url("../images/banner-bg.jpg");
  padding: 80px 0 90px 0;
  background-size: cover;
}

.bannerSection h1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
}
.bannerSection p {
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

.bannerSection .rent_container {
  margin-top: 44px;
}

.bannerSection .rent_container .link {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
  background: #ffb900;
  text-decoration: none;
  font-size: 14px;
}

.bannerSection .rent_container .searchSection {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 100%;
}

.bannerSection .rent_container .searchSection .form-wrap {
  background: rgba(255, 255, 255, 0.14);
  padding: 25px;
}

.bannerSection .rent_container .searchSection .form-wrap .Rentinput {
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 1rem;
}

.bannerSection .rent_container .searchSection .form-wrap .submitbtn {
  background: #ffb900;
  border: none;
  cursor: pointer;
  padding: 7px 0px 7px 0;
  width: 100%;
  border-radius: 4px;
  outline: 0 !important;
 
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  border-radius: 0;
  font-weight: bold;
  min-height: 38px;
}

.property-section{
  padding-top: 2rem;
}
.property-section .property_heading{
  transition: 0.3s ease;
}
.property-section .property_heading::before{
  background: #ff8a00;
  border: 0 none;
  content: "";
  height: 3px;
  left: 48%;
  border-radius: 30px;
  position: absolute;
  top: 41.7rem;
  width: 50px;
  height: 0.2rem;
}

.property-section span{
  background: rgba(18, 18, 18, 0.1);
  line-height: 26px;
  color: #122636 !important;
  padding: 1.5px 12px;
  display: block !important;
  max-width: max-content;
  margin: 0 auto 5px auto !important;
  border-radius: 4px;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: capitalize;
}