* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headertop {
  background-color: #122636;
}
.headertop .social_link {
  padding: 10px 0;
  margin-bottom: 0;
}
.headertop .social_link li {
  text-decoration: none;
  display: inline-block;
  padding: 0 1px;
}
.headertop .social_link li .link {
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  display: block;
  margin-left: 0.5rem;
}
.headertop .social_link li .textwhite {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.headertop .contact {
  justify-content: end;
  padding: 10px 0;
  margin-bottom: 0;
}
.headertop .contact .link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  text-align: center;
  display: block;
  margin-left: 1.5rem;
}
.headertop .contact .link .textwhite {
  font-size: 27px;
  font-weight: 700;
  padding-right: 6px;
}

.headerbottom .logosection {
  padding: 10px 0;
}
.headerbottom .navbar {
  padding: 20px 20px;
}
.headerbottom .navbar li {
  position: relative;
  list-style: outside none none;
}
.headerbottom .navbar .link {
  text-decoration: none;
  color: #727280;
  font-size: 14px;
  padding: 12px 16px;
  text-transform: uppercase;
  z-index: 10;
  font-weight: bold;
}

.headerbottom .nav-last {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 10px;
}
.headerbottom .nav-last .link {
  text-decoration: none;
  background: #ffb900;
  color: #000;
  font-weight: 500;
  padding: 12px 26px;
  display: block;
}
